/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: white;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: white;
  text-decoration: none;

  a:focus {
    outline: none !important;
  }
}

a:hover {
  color: white;
  text-decoration: none;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
li {
  margin: 0;
  list-style-type: 3 none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}
textarea:-moz-placeholder {
  color: #adadad;
}
textarea::-moz-placeholder {
  color: #adadad;
}
textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
  [ utility ]*/

/*==================================================================
  [ Text ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #999999;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #00ad5f;
}

/*==================================================================
  [ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

/*//////////////////////////////////////////////////////////////////
  [ Contact ]*/

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-contact100 {
  width: 5020px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}

/*==================================================================
  [ Contact more ]*/
.contact100-more {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0px 15px;
}

.contact100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

/*==================================================================
  [ Form ]*/

.contact100-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 56px 55px 63px 55px;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px;
}

/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}

.rs1-wrap-input100,
.rs2-wrap-input100 {
  width: 50%;
}

.rs2-wrap-input100 {
  border-left: none;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}

textarea.input100 {
  min-height: 139px;
  padding-top: 19px;
  padding-bottom: 15px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #00ad5f;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*------------------------------------------------------------------
  [ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 23px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 2px;
  background: #00ad5f;

  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
  [ Responsive ]*/

@media (max-width: 992px) {
  .contact100-form {
    width: 60%;
    padding: 56px 30px 63px 30px;
  }

  .contact100-more {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .contact100-form {
    width: 100%;
  }

  .contact100-more {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contact100-form {
    padding: 56px 15px 63px 15px;
  }

  .rs1-wrap-input100,
  .rs2-wrap-input100 {
    width: 100%;
  }

  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
    border-top: none;
  }
}

/*------------------------------------------------------------------
  [ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

body {
  background: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  position: relative;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

/* width */
body::-webkit-scrollbar {
  width: 10px;
}
/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: blue;
  background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
  box-sizing: border-box;
}

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
}
.navbar {
  height: 5rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Saira Stencil One", cursive;
  transition: 0.4s;
  font-size: 125%;
}

.navbar h2 {
  font-size: 115%;
}

#navbarNav li {
  padding: 0 10%;
}

.logo i {
  color: red;
  animation: clair 1s infinite;
}

@keyframes clair {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  line-height: 100px;
  float: left;
}

.jumbotron {
  background: url("ordinateur4.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
}

.message {
  color: #003340; /* MANUEL Gerald */
  font-weight: bold;
  position: block;
  margin-top: 15rem;
  text-align: center;
}

.presentation {
  animation: nom 3s 1;
}
.nom {
  animation: nom 3s 1;
}

@keyframes nom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titre {
  animation: titre 3s 1;
}

@keyframes titre {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.phrase {
  font-weight: bold;
  color: #003366; /* couleur Bienvenue porte folio*/
  animation: phrase 2s steps(30);
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@keyframes phrase {
  0% {
    width: 0ch;
  }
  100% {
    width: 30ch;
  }
}

.barre {
  animation: blink 0.75s infinite;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

.card_presentation_bts {
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-top: 3%;
  padding-bottom: 3%;
}

.card1 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

.card2 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-top: 6%;
  padding-bottom: 6%;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 2.25rem;
  margin-bottom: -5%;
  margin-top: -3%;
}

.card-body ul p {
  padding-left: 60px;
  text-align: left;
}

*,
::after,
::before {
  box-sizing: border-box;
}

div {
  display: block;
}

/* nouveau */

.fond_vagues {
  background: linear-gradient(to right, #fff, #fff);
  min-width: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.text-center {
  text-align: center !important;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

div {
  display: block;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.titre_vagues {
  color: #c9c9c9;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.titre_section {
  margin-top: 3vh;
  font-size: 40px;
  text-align: center;
  margin-bottom: 5vh;
  color: white;
  font-weight: lighter;
}
.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* https://codepen.io/VladimirVaize/pen/OJywOmp */ /* change ecriture*/

.cards_options {
  margin-top: 3vh;
  background-color: white;
  color: black;
  border-radius: 0.5em;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  padding: 2%;
  margin-bottom: 5vh;
}
.titre_card_options {
  margin-top: 1%;
  color: #19b5fe;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
.h4,
h4 {
  font-size: 1.5rem;
  color: #19b5fe;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h5 {
  color: #19b5fe;
  padding-top: 4px;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.text-center {
  text-align: left !important;
}

.description_card {
  margin-top: 0%;
  color: #7b7b7b;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
*,
::after,
::before {
  box-sizing: border-box;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.cards_qualites {
  margin-top: 3vh;
  background-color: white;
  color: black;
  border-radius: 0.5em;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  padding: 2%;
  margin-bottom: 6vh;
  top: 20px;
}

.titre_card_qualite {
  margin-top: 1%;
  color: #19b5fe;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

/*
li.sisr {
    position: relative;
left: 50px;
padding-left: 10px;
}

li.slam {
    position: relative;
left: 50px;
}
*/
element.style {
  margin-top: 2vh;
  background-color: white;
  color: black;
  border-radius: 0.5em;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  padding: 2%;
  margin-bottom: 3vh;
}

.dropdown1 .dropbtn1 {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Open Sans", sans-serif;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  padding: 14px 16px;
  margin: 0px;
  background: rgb(51, 51, 51);
}

.card-text {
  color: black;
}

body {
  background: #333;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  word-wrap: break-word !important;
  font-family: Poppins-Regular;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.site {
  font-size: 18px;
  position: relative;
  word-wrap: break-word;
  position: relative;
  margin: 0 0;
  padding: 0 1.618rem;
  color: white;
  background: #333;
}

.site-header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  /* margin: 0 0 2.427rem; */
  margin-bottom: 12px;
}

.site-branding {
  flex: 1 0 80%;
  max-width: 80%;
}

.site-title {
  margin: 1.618rem 0 0;
  line-height: 1;
  font-size: 1.3rem;
  font-weight: 400;
  word-break: break-all;
}

.site-title i {
  color: red;
  animation: clair 1s infinite;
  font-size: 100%;
}

.main-navigation .menu {
  position: relative;
  border: 0.0625rem solid #dcdcdc;
  width: 100%;
}
.main-navigation ul {
  list-style-type: none;

  /* margin: 50px 50px 50px 50px; */
  /* padding: 50px 50px 50px 50px; */
  text-align: left;
}

.site-header > .top-nav-label {
  flex: 0 0 auto;
}

.main-navigation {
  display: none;
  flex: 1 0 100%;
}

.main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.main-navigation .menu {
  position: relative;
  border: 0.0625rem solid #dcdcdc;
  width: 100%;
}

.main-navigation .menu::before {
  border-bottom: 0.5625rem solid #dcdcdc;
  border-left: 0.5625rem solid transparent;
  border-right: 0.5625rem solid transparent;
  border-top: 0 solid #dcdcdc;
  content: "";
  right: 0.625rem;
  position: absolute;
  top: -0.5625rem;
}

.main-navigation .menu::after {
  border-color: #efefef transparent;
  border-style: solid;
  border-width: 0 0.5rem 0.5rem;
  content: "";
  right: 0.6875rem;
  position: absolute;
  top: -0.4375rem;
}

.main-navigation .menu .menu-item {
  position: relative;
}

.main-navigation .menu .menu-item a {
  background: #333; /* arriere sous menu */
  border: 0.0625rem solid #333; /* border sous menu dedans */
  color: rgba(255, 255, 255, 0.6); /* couleur text sous menu */
  display: block;
  padding: 0.809rem 1.618rem;
  text-decoration: none;
}

.main-navigation .menu .menu-item a:hover,
.main-navigation .menu .menu-item a:focus {
  background: #0b3d86; /* change couleur click arrière */
  color: #efefef;
}

.main-navigation .menu .menu-item a:active {
  background: #0b3d86;
  color: #efefef;
}

.main-navigation .sub-menu {
  display: none;
  border-left: 0.1875rem solid #333; /* bodure ouvert sous menu à gauche */
  border-right: 0.1875rem solid #333; /* bodure ouvert sous menu à droite */
}

.menu .menu-item-has-children,
.sub-menu .menu-item-has-children {
  position: relative;
}

.main-navigation .menu .menu-item-has-children a {
  padding: 0.809rem 3.4375rem 0.809rem 1.618rem;
}

/* Hide/Show Main Menu if checkbox unchecked/checked */
.site-header > [type="checkbox"]:checked ~ .main-navigation {
  display: block;
}

/* Hide/Show Sub-Menu if checkbox unchecked/checked */
.main-navigation [type="checkbox"]:checked ~ ul {
  display: block;
}

/* Toggle buttons */
.top-nav-label {
  cursor: pointer;
  display: block;
  font-size: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.top-nav-label .open-close-menu {
  display: block;
  position: absolute;
  z-index: 99999;
}

.top-nav-label .open-close-menu::before,
.top-nav-label .open-close-menu::after {
  border-radius: 0.1875rem;
  content: "";
  display: block;
  position: absolute;
}

/* Hamburger button */
.site-header > .top-nav-label {
  position: relative;
  right: 0;
  top: 0;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.1875rem;
}

.site-header > .top-nav-label .open-close-menu {
  background: #777; /* changer couleur bare menu milieu*/
  border-radius: 0.1875rem;
  height: 0.25rem;
  left: 0.1875rem;
  right: 0.1875rem;
  top: 1.125rem;
  transition: 0.25s ease-in-out 0s;
}

.site-header > .top-nav-label .open-close-menu::before,
.site-header > .top-nav-label .open-close-menu::after {
  background-color: #777; /* changer couleur bare menu*/
  height: 0.25rem;
  left: 0;

  transition-duration: 0.3s, 0.3s;
  width: 100%;
}

.site-header > .top-nav-label .open-close-menu::before {
  top: -0.6875rem;
  transform-origin: top;
}

.site-header > .top-nav-label .open-close-menu::after {
  bottom: -0.6875rem;
  transform-origin: bottom;
}

/* Hamburger animation */
.site-header > [type="checkbox"]:checked ~ .top-nav-label .open-close-menu {
  background: none;
  transition-delay: 0s, 0.3s;
}

.site-header
  > [type="checkbox"]:checked
  ~ .top-nav-label
  .open-close-menu::before,
.site-header
  > [type="checkbox"]:checked
  ~ .top-nav-label
  .open-close-menu::after {
  left: 0.125rem;
  transition-delay: 0s, 0.3s;
}

.site-header
  > [type="checkbox"]:checked
  ~ .top-nav-label
  .open-close-menu::before {
  top: 0;
  transform: rotate(45deg);
}

.site-header
  > [type="checkbox"]:checked
  ~ .top-nav-label
  .open-close-menu::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* Hamburger button hover/focus/active */
.site-header > .top-nav-label:hover,
.site-header > input[type="checkbox"]:focus ~ .top-nav-label,
.site-header > input[type="checkbox"]:hover ~ .top-nav-label {
  background: #777; /* arriere menu bare */
}

.site-header > .top-nav-label:hover .open-close-menu,
.site-header > .top-nav-label:hover .open-close-menu::after,
.site-header > .top-nav-label:hover .open-close-menu::before,
.site-header > input[type="checkbox"]:focus ~ .top-nav-label .open-close-menu,
.site-header
  > input[type="checkbox"]:focus
  ~ .top-nav-label
  .open-close-menu::before,
.site-header
  > input[type="checkbox"]:focus
  ~ .top-nav-label
  .open-close-menu::after,
.site-header > input[type="checkbox"]:hover ~ .top-nav-label .open-close-menu,
.site-header
  > input[type="checkbox"]:hover
  ~ .top-nav-label
  .open-close-menu::before,
.site-header
  > input[type="checkbox"]:hover
  ~ .top-nav-label
  .open-close-menu::after {
  background: #efefef;
}

.site-header
  > input[type="checkbox"]:checked
  ~ .top-nav-label:hover
  .open-close-menu,
.site-header
  > input[type="checkbox"]:checked:focus
  ~ .top-nav-label
  .open-close-menu,
.site-header
  > input[type="checkbox"]:checked:hover
  ~ .top-nav-label
  .open-close-menu {
  background: none;
}

/* Plus/Minus button */
.main-navigation .menu-item-has-children > .top-nav-label {
  position: absolute;
  right: 0.0625rem;
  top: 0.0625rem;
  height: 3.3125rem;
  width: 3.3125rem;
  background-color: #333;
}

.main-navigation .menu-item-has-children > .top-nav-label .open-close-menu {
  height: 100%;
  width: 100%;
}

.main-navigation
  .menu-item-has-children
  > .top-nav-label
  .open-close-menu::after,
.main-navigation
  .menu-item-has-children
  > .top-nav-label
  .open-close-menu::before {
  background: #777;
  transition: transform 0.25s ease-out;
}

.main-navigation
  .menu-item-has-children
  > .top-nav-label
  .open-close-menu::before {
  height: 50%;
  left: calc(50% - 0.1875rem / 2);
  top: 25%;
  width: 0.1875rem;
}

.main-navigation
  .menu-item-has-children
  > .top-nav-label
  .open-close-menu::after {
  height: 0.1875rem;
  left: 25%;
  top: calc(50% - 0.1875rem / 2);
  width: 50%;
}

.main-navigation .menu-item-has-children a:hover ~ .top-nav-label,
.main-navigation .menu-item-has-children a:focus ~ .top-nav-label,
.main-navigation .menu-item-has-children a:active ~ .top-nav-label,
.main-navigation .menu-item-has-children:focus-within a ~ .top-nav-label {
  background: #efefef;
}

/* Plus/Minus button animation */
.main-navigation
  [type="checkbox"]:checked
  ~ .top-nav-label
  .open-close-menu::before {
  transform: rotate(90deg);
}

.main-navigation
  [type="checkbox"]:checked
  ~ .top-nav-label
  .open-close-menu::after {
  transform: rotate(180deg);
}

/* Plus/Minus button hover/focus/active */
.main-navigation .menu-item-has-children > .top-nav-label:hover {
  background: #333;
}

.main-navigation
  .menu-item-has-children
  input[type="checkbox"]:focus
  ~ .top-nav-label {
  background: #777;
}

.main-navigation
  .menu-item-has-children
  > .top-nav-label:hover
  .open-close-menu::after,
.main-navigation
  .menu-item-has-children
  > .top-nav-label:hover
  .open-close-menu::before,
.main-navigation
  .menu-item-has-children
  input[type="checkbox"]:focus
  ~ .top-nav-label
  .open-close-menu::before,
.main-navigation
  .menu-item-has-children
  input[type="checkbox"]:focus
  ~ .top-nav-label
  .open-close-menu::after {
  background: #efefef;
}

/* Hide and place checkbox over the toggle buttons */
.site-header input[type="checkbox"] {
  cursor: pointer;
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 2;
}

.site-header > input[type="checkbox"] {
  right: 0.5rem;
  top: 2.75rem;
}

.site-header .menu-item-has-children input[type="checkbox"] {
  right: 1rem;
  top: 1rem;
}

/* Display the right label if checkbox checked */
.site-header input[type="checkbox"] + .top-nav-label .close-menu,
.site-header input[type="checkbox"]:checked + .top-nav-label .open-menu {
  display: none;
}

.site-header input[type="checkbox"]:checked + .top-nav-label .close-menu,
.site-header input[type="checkbox"] + .top-nav-label .open-menu {
  display: block;
}

@media only screen and (min-width: 75.5em) {
  .site-title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 75.5em) {
  /* menu barre aparrait sur telephone si en reduit la taille */

  /* @media only screen and (min-width:115.5em) { /* menu barre aparrait sur telephone si en reduit la taille */
  .site-branding {
    flex: 0 0 17%;
    max-width: 100%;
    padding-left: 2px;
  }

  .site-title {
    font-size: 1.8rem;
  }

  .site-header input[type="checkbox"],
  .site-header .top-nav-label {
    display: none;
  }

  .main-navigation {
    /* menu bare reduire taille */
    display: block;
    flex: 1 0 50%;
    max-width: 100%;
    padding-top: 10px;
    padding-left: 200px; /* menu bare à gauche */
  }

  .main-navigation .menu {
    border: none;
    display: flex;
    justify-content: left;
  }

  .main-navigation .menu::before,
  .main-navigation .menu::after {
    display: none;
  }

  .main-navigation .menu > .menu-item {
    margin-left: 0.3125rem;
  }

  .main-navigation .menu .menu-item a {
    background: #333;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    padding: 0.4045rem 0.809rem;
    font-size: 20px; /* regle taille menu */
    font-family: Poppins-Regular; /* regle écriture menu */
  }

  .main-navigation .menu .menu-item a:hover {
    background: #777; /* arriere plan menu */
    color: white; /* coleur arriere plan */
    text-decoration: none;
  }

  .main-navigation .menu .menu-item a:active {
    color: black; /* click changer couleur écriture */
    text-decoration: right;
  }

  .main-navigation .menu-item-has-children > .top-nav-label {
    position: absolute;
    right: 0;
    top: 0;
    height: 2.5625rem;
    width: 2.5625rem;
  }

  .main-navigation .menu-item-has-children a:hover ~ .top-nav-label,
  .main-navigation .menu-item-has-children a:focus ~ .top-nav-label,
  .main-navigation .menu-item-has-children a:active ~ .top-nav-label,
  .main-navigation .menu-item-has-children:focus-within a ~ .top-nav-label {
    background: #fff;
  }

  .main-navigation .menu .menu-item-has-children a {
    padding: 0.4045rem 0.809rem;
  }

  .main-navigation .menu .menu-item-has-children > a::after {
    display: inline-block;
    content: "<i class=" fas fa-caret-down "></i>";
    margin-left: 0.4045rem;
    text-decoration: none;
    position: relative;
  }

  /* Show submenu on hover/focus */
  .main-navigation .menu-item-has-children > a:hover ~ ul,
  .main-navigation .menu-item-has-children:hover > a ~ ul,
  .main-navigation .menu-item-has-children > a ~ ul:hover,
  .main-navigation .menu-item-has-children > a:focus ~ ul {
    display: block;
    z-index: 999;
  }

  /* Same rules - Focus-within not supported by Edge/IE. Unsupported selectors cause the entire block to be ignored, so we must repeat all styles separately. */
  .main-navigation .menu-item-has-children:focus-within > a ~ ul {
    display: block;
    z-index: 999;
  }

  .main-navigation .sub-menu {
    min-width: 100%;
    position: absolute;
    border: 0.0625rem solid #777;
  }

  .main-navigation .sub-menu::before {
    border-bottom: 0.5625rem solid #dcdcdc;
    border-left: 0.5625rem solid transparent;
    border-right: 0.5625rem solid transparent;
    border-top: 0 solid #dcdcdc;
    content: "";
    left: 30%;
    position: absolute;
    /* top: -0.5625rem; */
    top: -0.3rem;
  }

  .main-navigation .sub-menu::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 0 0.5rem 0.5rem;
    content: "";
    left: calc(30% + 0.0625rem);
    position: absolute;
    top: -0.4375rem;
  }

  .main-navigation .sub-menu .sub-menu::before,
  .main-navigation .sub-menu .sub-menu::after {
    display: none;
  }

  .main-navigation .sub-menu .menu-item-has-children > a::after {
    content: "\23F5";
    vertical-align: top;
  }

  .main-navigation .sub-menu ul {
    left: -100%;
    top: 0;
    max-width: 100%;
  }
}

@media only screen and (min-width: 88em) and (any-pointer: coarse) {
  /* + telephone barre */
  .main-navigation .menu .menu-item-has-children a {
    padding-right: 3rem;
  }

  .site-header .menu-item-has-children .top-nav-label {
    display: block;
  }

  .site-header .menu-item-has-children input[type="checkbox"] {
    display: block;
    right: 0.625rem;
    top: 0.625rem;
  }

  .main-navigation .menu-item-has-children > a:focus ~ ul,
  .main-navigation
    .menu-item-has-children
    > input[type="checkbox"]:not(:checked):focus
    ~ ul {
    display: none;
  }

  .main-navigation .menu .menu-item-has-children > a::after,
  .main-navigation .sub-menu .menu-item-has-children > a::after {
    display: none;
  }
}
/*
@media only screen and (min-width: 100em) {
  .site {
    max-width: 80rem;
  }*/

.site-title {
  font-size: 20px; /* taille Manuel gerald à gauche*/
  margin-bottom: 18px;
  padding-bottom: 18px;
  padding-top: 3px;
  padding-left: 0px;
  color: white; /* coleur écriture Manuel Gerald à gauche*/
}

.main-navigation .sub-menu ul {
  left: 100%;
  top: 0;
  max-width: 100%;
}

.main-navigation .sub-menu .menu-item-has-children > a::after {
  content: "";
}

.copyright {
  text-align: center;
  padding: 30px 0;
  background: #28023d;
}
p {
  line-height: 1.6;
  font-size: 1.05em;
  font-weight: 400;
  color: #777;
}

.card-text {
  color: black;
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.competences a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.competences a:link {
  color: blue;
}

.competences a:visited {
  color: purple;
}

.competences a:focus,
.competences a:hover {
  border-bottom: 1px solid;
}

.competences a:active {
  color: red;
}

@media screen and (max-width: 800px) {
  #espace-bas {
    margin-bottom: 75px;
  }

  #espace-bas-1 {
    margin-bottom: 68px;
  }
}
